input[type='number'] {
  box-sizing: border-box;
  width: 40px;

}

table {
  border-collapse: collapse;
  margin: 32px;

}

th, td {
  border: 1px solid #dadce0;
  padding: 8px 4px;
  text-align: center;

}

th {
  background: #f7f7f7;

}
